@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
:root {
    --LimeGreen: hsl(163, 72%, 41%);
    --BrightRed: hsl(356, 69%, 56%);
    --Facebook: hsl(208, 92%, 53%);
    --Twitter: hsl(203, 89%, 53%);
    --Instagram: linear-gradient(45deg, #fdc468, #df4996);
    --YouTube: hsl(348, 97%, 39%);
}
.lightTheme {
    --BG: hsl(0, 0%, 100%);
    --TopBG: hsl(225, 100%, 98%);
    --CardBG: hsl(227, 47%, 96%);
    --TextPrimary: hsl(230, 17%, 14%);
    --TextSecondary: hsl(228, 12%, 44%);
}
.darkTheme {
    --BG: hsl(230, 17%, 14%);
    --TopBG: hsl(232, 19%, 15%);
    --CardBG: hsl(228, 28%, 20%);
    --TextPrimary: hsl(0, 0%, 100%);
    --TextSecondary: hsl(228, 34%, 66%);
}
body {
    background: var(--BG);
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color: var(--TextSecondary);
}
html {
    margin: 0;
}
.container-fluid {
    padding: 0;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
    margin-left: 5px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: hsl(230, 22%, 74%);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background: linear-gradient(45deg, #378fe6, #3eda82);
  }
  .slider:hover {
      background: linear-gradient(45deg, #378fe6, #3eda82);
  }
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  .slider.round:before {
    border-radius: 50%;
  }
.header {
    background: var(--TopBG);
    height: 245px;
    z-index: 0;
    display: grid;
    grid-template-areas: 
    "a b";
    align-items: start;
    padding-top: 35px;
}
.count {
    grid-area:  a;
    justify-self: end;
    padding-left: 160px;
}
.count h3 {
    font-weight: 700;
    font-size: 1.82rem;
    color: var(--TextPrimary);
}
.count h6 {
    font-weight: 700;
    font-size: .9rem;
}
.toggle {
    display: flex;
    padding-top: 15px;
    padding-right: 168px;
    align-items: center;
    grid-area: b;
}
.toggle span {
    font-size: 14px;
    font-weight: 700;
    text-decoration-color: var(--TextSecondary);
}
.row {
    align-items: center;
    justify-content: center;
    margin-top: -111px;
    z-index: 1;
}
.card {
    background: var(--CardBG);
    text-align: center;
    border: 0;
    width: 256px;
    height: 218px;
    margin: 0px 15px;
}
.card h1 {
    font-weight: 700;
    font-size: 3.2rem;
    padding-top: 15px;
    margin-bottom: 0;
    color: var(--TextPrimary);
}
.card-text {
    letter-spacing: 5px;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
}
.card-title {
    color: var(--TextSecondary);
    font-weight: 700;
    font-size: 12px;
    padding-top: 30px;
}
.card-title img {
    padding-right: 5px;
}
.facebook {
    border-top: 4px solid var(--Facebook);
}
.twitter {
    border-top: 4px solid var(--Twitter);
}
.instagram {
    border-top: 4px solid red;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-image: var(--Instagram) 1;
}
.youtube {
    border-top: 4px solid var(--YouTube);
}
.gain {
    color: var(--LimeGreen);
    font-weight: 700;
    font-size: 12px;
}
.loss {
    color: var(--BrightRed);
    font-weight: 700;
    font-size: 12px;
}
.overview {
    padding: 46px 165px;
}
.overview h4 {
    font-weight: 700;
    color: var(--TextPrimary);
}
.overview-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin-top: 22px;
    row-gap: 24px;
    column-gap: 27px;
}
.overview-card {
    background-color: var(--CardBG);
    border-radius: 5px;
    display: grid;
    grid-template-areas: 
    "a b b b c"
    "d d d d d"
    "e f f f g";
    height: 125px;
    width: 253px;
}
.overview-card p {
    color: var(--TextSecondary);
    font-weight: 700;
    font-size: 15px; 
    grid-area: b;
    justify-self: start;
    align-self: center;
    padding-top: 25px;
}
.overview-card h2 {
    grid-area: f;
    font-weight: 700;
    justify-self: start;
    align-self: center;
    padding-bottom: 10px;
    color: var(--TextPrimary);
}
.icon {
    grid-area: c;
    justify-self: center;
    align-self: center;
    padding-top: 10px;
}
.overview-card span {
    grid-area: g;
    justify-self: center;
    align-self: center;
    padding-right: 10px;
}

.attribution { 
    font-size: 11px;
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media (max-width: 1100px) {
    .overview-cards {
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(4, auto);
        align-items: center;
        justify-content: center;
        column-gap: 20px;
    }
    .row {
        display: grid;
        grid-template-areas: 
        "a b"
        "c d";
        row-gap: 20px;
    }
    .facebook {
        grid-area: a;
    }
    .twitter {
        grid-area: b;
    }
    .instagram {
        grid-area: c;
    }
    .youtube {
        grid-area: d;
    }
}

@media (max-width: 375px) {
    .overview-cards {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(8, 1fr);
        align-items: center;
        justify-content: center;
    }
    .overview {
        padding: 30px 83px;
    }
    .row {
        grid-template-areas: 
        "a"
        "b"
        "c"
        "d";
        margin-top: -40px;
    }
    .header {
        grid-template-areas: 
        "a"
        "b";
        align-content: flex-start;
    }
    .count {
        padding-left: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid var(--TextSecondary);
    }
    .toggle {
        justify-content: space-between;
        padding: 20px;
    }
}